<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Business_Administrator.Properties.Settings.ConnectionString"
            connectionString="Provider=SQLOLEDB;Data Source=PC-JUAN\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=BUSINESS_ADMINISTRATOR"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>